@import url(./root.css);

@font-face {
    font-family: Helvetica;
    src: url("/assets/helvetica-255/Helvetica.ttf");
}


.bg-img {
    background-image: url(../images/png/header-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 200px;
}

.footer-img {
    background-image: url(../images/png/Footer-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w-297 {
    max-width: 297px;
}

.max-w-506 {
    max-width: 506px;
}

.max-w-620 {
    max-width: 620px;
}

.max-w-1140 {
    max-width: 1140px !important;
}

.mt-12 {
    margin-top: 12px;
}

.mt-14 {
    margin-top: 14px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-36 {
    margin-top: 36px;
}

.mt-38 {
    margin-top: 38px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mb-54 {
    margin-bottom: 54px;
}

.mt-56 {
    margin-top: 56px;
}

.mt-68 {
    margin-top: 68px !important;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-203 {
    margin-top: 203px !important;
}

.pl-8 {
    margin-left: 8px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 15px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-54 {
    padding-top: 54px;
}

/***** gap *****/
.gap-15 {
    gap: 15px;
}

.gap-24 {
    gap: 24px;
}

.gap-51 {
    gap: 51px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate43 {
    transform: rotate(-43deg);
}

.nav-btn {
    padding: 12px 20px 12px 20px;
    border-radius: 0px 50px 50px 20px;
    border: none;
}

.nav-btn:hover {
    background-color: rgb(0, 153, 255) !important;
    color: var(--color-white);
}

.nav-btn:hover .arrow-svg path {
    stroke: var(--color-white);
}

input {
    border-radius: 0px 100px 100px 20px;
    padding: 22px 0 24px 24px;
    width: 476px;
    height: 66px;
    border: 1px solid var(--color-silverback);
}

.compare-btn {
    position: absolute;
    right: 2%;
    top: 13%;
}

.compare-btn:hover {
    color: var(--color-black) !important;
}

.compare-btn:hover .arrow-2-svg path {
    stroke: var(--color-black);
}

.img-1 {
    max-width: 558px;
    transform: translateY(18%);
}

.circle-img {
    position: absolute;
    top: 13%;
    right: 0%;
}

/***** section-2 *****/
.logo {
    filter: grayscale(100%);
    cursor: pointer;
}

.logo:hover {
    filter: none;
    opacity: 100%;
}

.logo-item {
    overflow: hidden;
}

.logo {
    display: inline-block;
    animation: move 5s linear infinite;
    animation-iteration-count: infinite;
}

/***** footer *****/
.footer-icons {
    transition: all 200ms linear;
}

.footer-icons:hover {
    scale: 1.1;
}

.left-img {
    left: 0;
    bottom: 0;
}

.right-img {
    right: 0;
    top: 0;
}

.line {
    border-top: 1px solid var(--color-blueprint);
}

.sumbit-btn {
    padding: 12px 20px 12px 20px;
    position: absolute;
    top: 31% !important;
    right: 30%;
}

.sumbit-btn:hover {
    color: var(--color-black) !important;
}

.sumbit-btn:hover .arrow-3-svg path {
    stroke: var(--color-black);
}

.input-2 {
    border-radius: 0px 100px 100px 20px !important;
    padding: 22px 0 24px 24px;
    max-width: 476px !important;
    width: 100%;
    height: 66px;
    border: 1px solid var(--color-silverback);
}

.box {
    width: 1140px;
    border-radius: 4px;
    transform: translateY(-50%);
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        backdrop-filter: blur(50px);
    }

    .show-navbar {
        right: 0 !important;
    }

    @keyframes move {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0);
        }
    }

    .sumbit-btn {
        position: absolute;
        right: 26%;
    }
}

@media (max-width:767.98px) {
    .sumbit-btn {
        position: absolute;
        right: 19%;
    }
}

@media (max-width:575.98px) {
    .mt-60 {
        margin-top: 60px !important;
    }

    .sumbit-btn {
        right: 8%;
    }
}

@media (max-width:375px) {
    .end {
        margin-top: 90px;
    }
}

@media (max-width:991.98px) {

    .end {
        color: var(--color-white) !important;
    }
}

@media (min-width:992px) {

    .end {
        transform: translateY(153px);
    }
}

@media (min-width:1040px) {
    .end {
        transform: translateY(200px);
    }
}

@media (min-width:1100px) {
    .end {
        transform: translateY(250px);
    }
}

@media (min-width:1200px) {
    .end {
        transform: translateY(250px);
    }
}

@media (min-width:1400px) {
    .circle-img {
        right: -11.6%;
    }
}